.row
  .small-10.large-7.small-centered.columns
    %h1.text-center Cooking

    %p
      %a{href: '/cooking/recipe_goals.html'} My goals for these recipes: delicious, cheap, easy, accessible

    %h2 Eggs
.row
  .small-9.large-6.small-centered.columns
    %p
      %a{href: '/cooking/migas.html'} Central Texas migas
    
