---
sections:
  Art:
    Crypt Underworld:
      description: The sequel to [Lily Zone](http://cicadamarionette.com/)'s [*Crypt Worlds*](http://cicadamarionette.com/Games/CryptWorlds/Main.html). Takes place in a massive city in the underworld, starting five minutes after the end of *Crypt Worlds*. Make friends with a charismatic bussinessman and have him over to see the coffin you sleep in; pee on mall clerks; enjoy your life!…Lily is heading the project and doing the graphics and world layout and such. I'm working on the code and contributing to the writing and game design. [Brenda Neotenomie](http://www.neotenomie.org/) is doing the music. Currently under progress—help us out by contributing to the [Kickstarter](https://www.kickstarter.com/projects/357609386/crypt-underworld-a-sequel-to-crypt-worlds)!
      media_tag: ''
    zebra-like INVISIBLE:
      description: A [li'l Twine game](/assets/programs/zebra-like_INVISIBLE.html) about being a cephalody creature.
      media_tag: ''
    Fantasy Florist:
      description: A <a href="https://twitter.com/fantasy_florist">Twitter bot</a> that describes fantastic flowers. Made in collaboration with <a href="http://katierosepipkin.com/">Katie Pipkin</a>. Here's the <a href="https://github.com/spinnylights/fantasy_florist">source code</a> if you'd like to see it.
      media_tag: ''
    Sentiment World:
      description: |
        A minimal "OS" for a computer that responds to keypresses by playing bits of sounds I recorded and showing scraps of text from my computer from ~2006–2015. An impressionistic hodgepodge of really personal material that covers the time from when I went to college to just before I came out. Pressing the spacebar washes everything away. Made for the <a href="http://www.fuseboxfestival.com/festival/the-institute-of-desktop-archeology">Institute of Desktop Archeology</a> at <a href="http://themuseumofhumanachievement.com/">The Museum of Human Achievment</a> during <a href="http://www.fuseboxfestival.com/">Fusebox 2015</a>.
        
        You can read more about the piece and download it <a href="/programs/sentiment_world">here</a>. The code and media are <a href="https://github.com/spinnylights/sentiment_world">here</a>.
      media_tag: ''
    An Unfolding Machine:
      description: A [poetic canvas](http://www.machineandthegarden.com/); click on the words, phrases, and punctuation to make them disappear, honing the text into something you like. Shown during [Karmic Trash Debt](https://web.archive.org/web/20120706043024/http://wardenclyffegallery.com) in 2012 at the now-defunct :'( [Wardenclyffe Gallery](https://web.archive.org/web/20120706043024/http://wardenclyffegallery.com/about).
      media_tag: ''
  Tools:
    Scissors:
      description: A tool for making text cut-ups. You can use it online [here](/programs/scissors). The [JS library](https://github.com/spinnylights/scissors.js) is also available. I use this a lot when writing.
      media_tag: ''
---

= partial 'media'
