.row
  .small-10.large-7.small-centered.columns
    %h1.text-center Scissors
.row
  .small-10.large-7.small-centered.text-center.columns
    %h5
      %a{:href => "#", :data => {:reveal_id => "info"}}
        info
.reveal-modal#info{:data => {:reveal => true}, :aria => {:hidden => "true", :labelledby => "info"}, :role => "dialog"}
  .row
    .small-8.large-4.small-centered.columns
      %h1 How to use Scissors
  .row
    .small-11.large-6.small-centered.columns
      %p
        Essentially, you put text in the top box, check some radio boxes, and press the button to your heart's content. But maybe you'd like more information than that.
      %p
        If you're just looking for a neat setting to get started with, my go-to is "Shuffle Lines" + "Burroughs-Gysin (preserve word breaks)". I use the others in specific situations.
      %p
        Maybe you'd like a sense of how you can make use of this. It's really up to you, of course, but I can at least tell you how I use it. Mainly, I think of the input box as a place to build an atmosphere—I often like mixing very technical and very emotional language, for instance. Sometimes I use my own writing, other times I wander around the web collecting, sometimes both. Then when I make the cut-ups, I read through my results and try to pick out short phrases that catch my eye, and then arrange them or use them as a springboard. But I'm sure you can come up with other ways to use this tool.
      %p
        <a href="https://en.wikipedia.org/wiki/William_S._Burroughs">William Burroughs</a> wrote an <a href="http://www.writing.upenn.edu/~afilreis/88v/burroughs-cutup.html">essay</a> about cut-ups which I think is wonderful and inspiring. "You can not will spontaneity. But you can introduce the unpredictable spontaneous factor with a pair of scissors…Cut ups are for everyone. Any body can make cut ups. It is experimental in the sense of being something to do. Right here write now…Cutting and rearranging a page of written words introduces a new dimension into writing enabling the writer to turn images in cineramic variation. Images shift sense under the scissors smell images to sound sight to sound sound to kinesthetic."
      %p
        Here is a list of each of the settings and what they do. Checking multiple boxes applies all the techniques selected in a random order.
      %ul
        %li
          %h5 Reverse words
          %p
            This takes all the words in the input text and orders them back-to-front.
        %li
          %h5 Shuffle words
          %p
            This puts all the words in a random order.
        %li
          %h5 Reverse lines
          %p
            This paginates the text internally and then puts the resulting lines back-to-front. It's as if you printed the text onto a page, cut out each of the lines, and put them in reverse order.
        %li
          %h5 Shuffle lines
          %p
            Same as "Reverse Lines" but the lines are put in a random order instead.
        %li
          %h5 Burroughs-Gysin (ignore word breaks)
          %p
            This is a cut-up technique discussed in the aforementioned essay. It's as if you printed the text onto a page, cut the page into quarters, and then rearranged the quarters. It slices through the middles of words, so you will get some new words with this method.
        %li
          %h5 Burroughs-Gysin (preserve word breaks)
          %p
            This is the same as the other Burroughs-Gysin setting, but it preserves the word breaks in the original text, which differs from the technique as Burroughs describes it. 
.row
  .small-9.large-6.small-centered.columns
    %textarea#to-cut-up{:cols => "100", :rows => "10", :placeholder => "Write or paste text to be cut up here"}
.row
  .small-12.columns
    %p
.row
  .small-9.small-centered.columns
    #cut-up-methods
      %ul.small-block-grid-1.large-block-grid-2
        %li
          %input#rev-words{:type => "checkbox"}>
          %label.inline{:for => "rev-words"} Reverse words
        %li
          %input#shuf-words{:type => "checkbox"}
          %label.inline{:for => "shuf-words"} Shuffle words
        %li
          %input#rev-lines{:type => "checkbox"}
          %label.inline{:for => "rev-lines"} Reverse lines
        %li
          %input#shuf-lines{:type => "checkbox"}
          %label.inline{:for => "shuf-lines"} Shuffle lines
        %li
          %input#bur-spl{:type => "checkbox"}
          %label.inline{:for => "bur-spl"} Burroughs-Gysin (ignore word breaks)
        %li
          %input#bur-wrd{:type => "checkbox"}
          %label.inline{:for => "bur-wrd"} Burroughs-Gysin (preserve word breaks)
.row
  .small-2.small-centered.text-center.columns
    %a.button#run-cut-up{:href => '#run-cut-up'} ✂
.row
  .small-9.large-6.small-centered.columns
    %textarea#cut-up-text{:cols => "100", :rows => "30"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"}
