.row
  .small-10.large-7.small-centered.columns
    %h1.text-center ¡hihi!
    :markdown
      I'm Zoë Sparks, an artist working with language, music, and computer programs. Some of my work falls distinctly into one of those media; some of it is more interstitial. i'm glittery milkiness. sheep, LCD puddles, interference patterns, infinite fields of primroses, a universe flooded by the ocean…

      I'm trans, was born in 1990, and grew up in Austin, Texas. I graduated from [Simon's Rock](https://simons-rock.edu/) in 2010 with a B.A. in music theory and composition.

      If you'd like to get in touch with me, [Twitter](https://twitter.com/spinnylights) and [email](mailto:zoe@milky.flowers) both work well.
