---
sections:
  Ambient:
    Soft Light:
      description:
      media_tag: <audio src='/assets/music/ambient/soft_light.mp3' controls></audio>
    Rain in the Catacombs:
      description: This has its own [special page](http://hush.es/rain_catacombs/rain_catacombs.html).
      media_tag:
  Instrumental hip-hop:
    Light Bright:
      description:
      media_tag: <audio src='/assets/music/beats/light_bright.mp3' controls></audio>
    Might I but moor—:
      description:
      media_tag: <audio src='/assets/music/beats/might_i_but_moor.mp3' controls></audio>
    Mini Mint:
      description:
      media_tag: <audio src='/assets/music/beats/mini_mint.mp3' controls></audio>
    Slowboat Shake:
      description:
      media_tag: <audio src='/assets/music/beats/slowboat_shake.mp3' controls></audio>
    Mouse Games:
      description:
      media_tag: <audio src='/assets/music/beats/mouse_games.mp3' controls></audio>
  Classical:
    Roses and Stars Quartet (mvt. I):
      description: The first movement of a planned longer string quartet.
      media_tag: <audio src="/assets/music/classical/roses_and_stars_quartet.mp3" controls></audio>
    Canon for Grandpa's birthday:
      description:
      media_tag: <audio src="/assets/music/classical/canon_for_grandpas_birthday.mp3" controls></audio>
    Conslience:
      description: This was my B.A. thesis piece; I worked on it from the summer of 2009 to right around my 20th birthday in 2010. The lyrics are [here](/assets/music/classical/consilience_text.pdf).
      media_tag: <audio src="/assets/music/classical/consilience.mp3" controls></audio>
---

= partial 'media'
