.digest
  :markdown
    # Experience Digest — October 2016

    **This is a sample Experience Digest.** It chronicles media I engaged with, paths I took through the Web, and my dreams, over the course of the last month. You can have one every month by contributing to my Patreon at the $2/month level or above.  

    This month, I was having migraines very frequently, so there's lots of text media and relatively little media involving sound or visuals. I spent a fair amount of time reading a certain book but I think I'll wait until I finish it to comment.  

    ## Table of contents

    *   [YouTube](#youtube)
    *   [Games](#games)
    *   [Music](#music)
    *   [General Web](#general-web)
    *   [Dreams](#dreams)

    ## YouTube

    ### Mechanical keyboards

    Sometimes I fantasize intensely about things I'd like to buy but can't afford, for days at a time even. I really wish I wouldn't. It seems like a sign of religious impurity and it's a relatively pointless way to spin my wheels. Sometimes it leads me into unusual territory, though.  

    All last month, I was intensely preoccupied with getting a mechanical keyboard, which seems really silly to me to be so focused on but I just can't help myself for some reason. My current keyboard is starting to give out—some of the keys are sticking—and a couple of my friends told me about how wonderful mechanical keyboard are, apparently. I can't afford to get one—not even a $30 Dell AT101W on eBay, it's just too much money for something non-essential. So instead I've been rooting around at recycling centers and thrift stores when I've been well enough to leave the house, although I haven't found any yet. I've been watching a lot of YouTube videos about them too, along with reading articles and threads on [Deskthority](https://deskthority.net/).  

    One person who's stood out to me in mechanical keyboard YouTube is Chyros (Chyrosran22). He's a Dutch chemist with a gigantic keyboard collection and an absolutely beautiful voice:  

    <iframe src="https://www.youtube.com/embed/4_qA5OZFJ1I" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    <iframe src="https://www.youtube.com/embed/3B0r1cvZphM" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    This might seem shockingly boring, but I'm sure there are at least a few of you out there who will feel the mystifying appeal of this subject. I've never actually typed on a mechanical keyboard in my life so I'm just terribly curious. I'd really adore to get to try typing on a Model F, although I'm nervous about the sound bothering me in migraineland.  

    ### ABC transporters

    Here's a wacky video on ABC transporters:  

    <iframe src="https://www.youtube.com/embed/TKr2keCzmVc" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    This video wasn't quite so wacky (although it does its best) but it helped me understand the concept more effectively:  

    <iframe src="https://www.youtube.com/embed/0ha0bJZAT0A" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    ### Elaborate structures for guinea pigs and cats

    <iframe src="https://www.youtube.com/embed/O0IgGdVmv6I" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    <iframe src="https://www.youtube.com/embed/XrSAklWuuOU" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    <iframe src="https://www.youtube.com/embed/okOVxfuSYPk" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    ### Kendama tricks

    I love to play with a [kendama](https://en.wikipedia.org/wiki/Kendama), but I'm nowhere near as good as these folks:  

    <iframe src="https://www.youtube.com/embed/iFiiXkonsXY" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    ### Ryan Dorin

    [Ryan Dorin](http://www.ryandorin.com/) is a rather fascinating character. He has a PhD in music composition and works as a piano teacher. He's also involved in the strange and cranky "alternative physics" Electric Universe community (more about in the General Web section). But what he's best known for are the films he's made, 3D-animated storytelling music videos that are really quite wonderful:  

    <iframe src="https://www.youtube.com/embed/wmVNbFsKRfU" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    <iframe src="https://www.youtube.com/embed/M-Ry1JXbB_E" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    ### Bath bombs

    Always nice:  

    <iframe src="https://www.youtube.com/embed/iYeq1zD1ivQ" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    <iframe src="https://www.youtube.com/embed/saH3pMqRzf0" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    <iframe src="https://www.youtube.com/embed/JSv6uSq3kVE" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    ### YouTube acronym game

    I've developed a number of games or techniques over time for finding interesting videos on YouTube (I probably ought to write a post about all of them). This month I figured out a new one: search for random three- or four-letter acronyms. This approach tends to reveal genres or subcultures on YouTube, since acronyms are often jargon that's only meaningful to an insular group.  

    <a name="games"></a>  

    ## Games

    ### Snatcher

    At the beginning of this month, when the migraines weren't coming quite so frequently, I played through Hideo Kojima's 1988 visual novel _Snatcher_. I actually really enjoyed the story—it's _Blade Runner_-inspired, but in typical Kojima style it has a wild number of genuinely shocking plot twists that make it very unique and inventive. The art style is cute and fun, which was neat to see, especially contrasted with the art style of the _Metal Gear_ games.  

    <iframe src="https://www.youtube.com/embed/HfltRGG_yQo" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    There were also some things about it that really bothered me.  

    The main character is a straight dude and the game makes much of this, giving it an icky pervy sort of flavor. You can hit on just about every woman in the game at nearly any time, and there's even a scene where the main character "accidentally" surprises a woman in the shower. None of this is all that surprising given the game's intended audience, but it was hard for me to push through.  

    There's also racism towards Chinese people. A supporting Chinese character has a visual portrayal that struck me as extremely crude, and there's an evil Chinese doctor bit villain who could've come out of a 60s B-movie. All the Chinese characters are at least connected with the criminal underworld if not outright wicked, and are heavily associated with "seedy" parts of town and urban decay.  

    The plot kept me going once I started—it was so refreshingly inventive and memorable that I later retold all of it from memory to my girlfriend as a bedtime story. That said, I doubt I would've picked the game up at all if I'd known about its bigotries beforehand. I don't think there's many commercial games with fun plots, so it's great on that basis, but I would only recommend it if you're up for stomaching the grossness.  

    ### Espgaluda

    I've been playing this on and off. It's a super-fun and kind of easy-breezy danmaku by Cave; I get the feeling that it has a lot of depth despite its relatively easygoing nature, although I'm not good at it enough yet to say. You play as a psychic teen fighting back against a government intent on destroying them, which is a fantastically satisfying and cathartic aesthetic for a game like this to have, especially if you feel like the irl government is intent on destroying you (hi). Your character also genderswaps when they go into a "bullet time"-like mode, which is a fun touch.  

    <iframe src="https://www.youtube.com/embed/1VtuPyA9uQg" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    It's sort of a nice break from the nail-biting, wildly tense gameply of the danmaku I play routinely, [_Perfect Cherry Blossom_](https://en.touhouwiki.net/wiki/Perfect_Cherry_Blossom). Both of those games are part of lengthy series which I'm thrilled to know about because they diverge from the boring "space war" aesthetic so common in bullet hells. It's so much more fun for me to play as a psychic teen or a knife-wielding maid than some sort of generic sci-fi spaceship or fighter jet.  

    I'd love to make a game in this genre someday.  

    <a name="music"></a>  

    ## Music

    I couldn't listen to much music this month because of how frequently I was having migraines. I actually had a tremendously uncomfortable several days where I was desperate to listen to this track but couldn't:  

    <iframe src="https://www.youtube.com/embed/9tNIYpCY1ik" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    Another group I've been into with a related style is snd:  

    <iframe src="https://www.youtube.com/embed/NVRwb3p6Yck?list=PLoRk-4_3pAdv7DC8ZrtK9PBpdFcrRt1XR" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  
    I had this song stuck in my head nonstop for about a week:  

    <iframe src="https://www.youtube.com/embed/nztKmgtYfkY" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    I love the Hechizeros Band album _El Sonidito_. One of my friends was looking for music with a farm atmosphere so I suggested this:  

    <iframe src="https://www.youtube.com/embed/_wj0qRBLYF4" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    I don't know much Spanish so hopefully the lyrics don't heavily detract from the farm atmosphere.  

    Nice, minimal ambient from Harold Budd, with a bit of a melancholy atmosphere:  

    <iframe src="https://www.youtube.com/embed/yqXti_pVy3Y" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    A beautiful and energizing track from Omar Khorshid, who has had a strong influence on me as a guitarist:  

    <iframe src="https://www.youtube.com/embed/EVdOiIL3QUI" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  

    I listen to Martha Argerich play Chopin's preludes fairly often. If you've never heard her before, she has an incredible unbridled power:  

    <iframe src="https://www.youtube.com/embed/8wegyayhHcU" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>  
    <a name="general-web"></a>  

    ## General Web

    These are paths I followed through the Web that I found interesting. Each cluster of pages is in roughly sequential order as I visited them. Many of them are even hyperlinked to each other, though sometimes one page prompted me to search for something else.  

    Links are to Wikipedia unless otherwise noted.  

    From spices to medicine:  

    *   [Long pepper](https://en.wikipedia.org/wiki/Long_pepper): a spice, with a flavor similar to black pepper, but hotter.
    *   [Piperlongumine](https://en.wikipedia.org/wiki/Piperlongumine): a chemical contained in long pepper which may have anti-cancer properties.
    *   [In vitro](https://en.wikipedia.org/wiki/In_vitro): "out-of-context" biological studies.
    *   [Xenotransplantation](https://en.wikipedia.org/wiki/Xenotransplantation): transplantation from one species to another.

    Geography, politics, and a couple of strange stories of northern Canada:  

    *   [Pingo](https://en.wikipedia.org/wiki/Pingo): an ice-covered hill.
    *   [Permafrost](https://en.wikipedia.org/wiki/Permafrost): ground that has been frozen for over two years.
    *   <a href="">Inuvik</a>: a town, the administrative center for Canada's Inuvik Region.
    *   <a href="">Robert C McLeod</a>: a representative of Inuvik in the Northwest Territories legislature.
    *   [McLeod's Legislature bio](http://www.assembly.gov.nt.ca/meet-members/mla/robert-c-mcleod)
    *   <a href="">Alfred Moses</a>: the other Northwest Territories legislator for Inuvik.
    *   <a href="">Legislative Assembly of the Northwest Territories</a>: the lawmaking body of the Northwest Territories of Canada.
    *   <a href="">Jackson Lafferty</a>: the Speaker of the Northwest Territories legislature.
    *   <a href="">Monfwi</a>: an electoral district of the Northwest Territories. Monfwi is its representative.
    *   <a href="">Henry Zoe</a>: the previous representative for Monfwi. He lost privileges in the legislature after being overheard making derogatory comments about Newfoundlanders, and later resigned after being convicted of resisting arrest.
    *   [A Northwest Territories newspaper "year end review" in which Zoe's misconduct is described](https://web.archive.org/web/20060810112613/http://www.nnsl.com/yir/yir04/yir04.html)
    *   [A page from the same newspaper describing an award for "best web designer in the world" being given to 19-year-old Chris Fournier of Yellowknife.](http://www.nnsl.com/frames/newspapers/2005-06/jun3_05web.html) I looked all over for an example of Fournier's web design skills without success.

    Stock exchanges and such. I thought the bit about the statue of a goddess of agriculture being placed on top of a futures exchange cast humans in an interesting light:  

    *   [Chicago Board of Trade](https://en.wikipedia.org/wiki/Chicago_Board_of_Trade): one of the world's oldest futures and options exchanges.
    *   [Ceres (Roman mythology)](https://en.wikipedia.org/wiki/Ceres_(mythology)): a Roman goddess of agriculture. A statue of her stands on top of the Chicago Board of Trade Building.
    *   <a href="">Open outcry</a>: a way of communicating on a stock exchange involving shouting and hand signals. It's become uncommon with the advent of electronic trading.
    *   <a href="">New York Stock Exchange</a>: the world's largest stock exchange by market capitalization. Open outcry is still used there for a small percentage of trades.
    *   <a href="">Trading curb</a>: a regulatory instrument designed to prevent stock market crashes by halting trading temporarily.

    These articles about migraines terrified me:  

    *   [Is It Just a Headache? Study Links Migraine to Brain Damage in Mice](http://www.ninds.nih.gov/news_and_events/news_articles/news_story_migraine_hypoxia.htm): an article from the National Institute of Neurological Disorders and Stroke.
    *   [Mice with a Migraine Show Signs of Brain Damage](https://www.urmc.rochester.edu/news/story/1450/mice-with-a-migraine-show-signs-of-brain-damage.aspx): an article from the University of Rochester Medical Center.
    *   [Are humans the only animals that can experience headaches/migraines? If so why? (Reddit)](https://m.reddit.com/r/explainlikeimfive/comments/4su7l6/eli5_are_humans_the_only_animals_that_can/): someone describes a study they worked on where they gave mice familial hemiplegic migraine. Their feelings of sympathy for the mice led them to abandon animal research.

    Western esotericism. A long time ago, a guitar teacher of mine gave me a copy of _The Kybalion_, but I've only flipped through it:  

    *   [Astral Plane](https://en.wikipedia.org/wiki/Astral_plane): an esoteric plane of existence.
    *   [Theosophy](https://en.wikipedia.org/wiki/Theosophy): a Western esoteric philosophy that helped popularize the concept of the Astral Plane.
    *   [Rosicrucianism](https://en.wikipedia.org/wiki/Rosicrucianism): a Hermetic cultural movement that also helped popularize the Astral Plane.
    *   [Ancient Mystical Order Rosea Crucis](https://en.wikipedia.org/wiki/Ancient_Mystical_Order_Rosae_Crucis): the world's largest contemporary Rosicrucian organization.
    *   [The Kybalion](https://en.wikipedia.org/wiki/The_Kybalion): a Hermetic book from 1908.
    *   [Pythagoreanism](https://en.wikipedia.org/wiki/Pythagoreanism): a mystical philosophical doctrine based on the teachings of Pythagoras.

    Ryan Dorin, who's made some amazing videos on YouTube (see above), is into this concept called "Electric Universe", and even works it into some of his videos. I'd never heard of it, so I looked into it:  

    *   [Plasma cosmology](https://en.wikipedia.org/wiki/Plasma_cosmology): a non-standard cosmology positing that plasmas play a much greater role in physics than is generally agreed on.
    *   [Wikipedia banned Electric Universe (physics)](http://www.everythingselectric.com/wikipedia/): an article from the Electric Universe site Everything Is Electric, fuming about Wikipedia's apparent hostility to Electric Universe ideas.
    *   [Electric Universe (RationalWiki)](http://rationalwiki.org/wiki/Electric_Universe): a page describing the cranky nature of EU.
    *   [The People Who Believe Electricity Rules the Universe (Motherboard)](http://motherboard.vice.com/read/electric-universe-theory-thunderbolts-project-wallace-thornhill): an article on EU proponents and their beliefs.
    *   Pages from a protracted Wikipedia conflict over how scientific EU ideas are:
        *   ["more evidence of abuse by ScienceApologist"](https://en.wikipedia.org/wiki/Wikipedia:Requests_for_arbitration/Pseudoscience#Generalities_of_pseudoscience)
        *   ["Findings"](https://en.wikipedia.org/w/index.php?title=Wikipedia%3AAdministrators%27_noticeboard%2FArbitration_enforcement&diff=97827523&oldid=97826783#Findings)
        *   [Talk:Mpemba effect: Difference between revisions](https://en.wikipedia.org/w/index.php?title=Talk%3AMpemba_effect&diff=200619897&oldid=200618437)
        *   [User talk:Iantresman](https://en.wikipedia.org/w/index.php?title=User_talk:Iantresman&oldid=451128252)
        *   [User:Iantresman](https://en.wikipedia.org/wiki/User:Iantresman)
        *   [Wikipedia:Arbitration/Requests/Enforcement: Difference between revisions](https://en.wikipedia.org/w/index.php?title=Wikipedia:Arbitration/Requests/Enforcement&diff=522442641&oldid=522442321)

    A North Korean computer game and China-North Korea relations in recent years:  

    *   [Kim Chaek University of Technology](https://en.wikipedia.org/wiki/Kim_Chaek_University_of_Technology): a university in Pyongyang.
    *   [_Pyongyang Racer_](https://en.wikipedia.org/wiki/Pyongyang_Racer): a racing game made by KCUT students.
    *   [_Pyongyang Racer_'s web page](http://www.pyongyangracer.co/)
    *   [China-North Korea relations](https://en.wikipedia.org/wiki/China%E2%80%93North_Korea_relations): close in the past, but they've cooled in recent years.
    *   [Explaining North Korean Migration to China (Wilson Center)](https://www.wilsoncenter.org/publication/explaining-north-korean-migration-to-china)
    *   [Chinese banks freeze North Korean accounts: South Korean media report (Yahoo News)](https://www.yahoo.com/news/chinese-banks-freeze-north-korean-accounts-south-korean-044348553--sector.html?ref=gs)
    *   [Jang Sung-Taek](https://en.wikipedia.org/wiki/Jang_Sung-taek): a prominent North Korean politician who was executed in December 2013\. He had close ties with China.
    *   [Kim Jong-Nam](https://en.wikipedia.org/wiki/Kim_Jong-nam): the eldest son of the late Kim Jong-Il. He lives in exile in Beijing. Jang was reportedly sympathetic to him.
    *   <a href="">Kimilsungist-Kimjongilist Youth League</a>: the main youth organization in North Korea.

    Really big meteors:  

    *   [Tunguska Event](https://en.wikipedia.org/wiki/Tunguska_event): a large explosion that occurred in the Siberian wilderness in 1908, thought to be caused by a superbolide.
    *   [Bolide](https://en.wikipedia.org/wiki/Bolide): an extremely bright meteor.
    *   [Sutter's Mill meteorite](https://en.wikipedia.org/wiki/Sutter%27s_Mill_meteorite): a superbolide that broke up over California in 2012.
    *   [Chelyabinsk meteor](https://en.wikipedia.org/wiki/Chelyabinsk_meteor): a superbolide that exploded over Chelyabinsk Oblast in Russia in 2013, causing widespread damage and injury.

    All sorts of stuff about ancient (and modern) text editors.  

    One interesting thing that I got out of this was a realization about [Vim](http://www.vim.org/), the text editor I use. When I was playing with [TECO](https://en.wikipedia.org/wiki/TECO_(text_editor)), I was at first astonished at its incredibly arcane and terse syntax—at least, until I realized that Vim is almost just the same. In Vim, too, just about every character does something, there are multiple modes, and by default you're not in a mode that enters text. The only reason it's more user-friendly than TECO is that it gives you way more visual feedback as you enter commands (it has the whole screen to work with, after all). The amazing [Vim macros](http://www.linusakesson.net/programming/vim/index.php) linked below vividly give the flavor of this. It was odd to discover something like TECO that at first seemed so alien and then to realize that I was already very used to a similar system.  

    *   [Emacs](https://en.wikipedia.org/wiki/Emacs): a highly extensible family of text editors.
    *   [ed (text editor)](https://en.wikipedia.org/wiki/Ed_(text_editor)): the original (and therefor "standard") text editor for Unix.
    *   <a href="">vi</a>: a Unix text editor that fills the screen. Descended from ex, which descended from ed. The modern text editor Vim is descended from vi.
    *   [Ed Is The Standard Text Editor (WikiWikiWeb)](http://c2.com/cgi/wiki?EdIsTheStandardTextEditor): lots of stuff about ed.
    *   [Vim Sucks Even Better (WikiWikiWeb)](http://c2.com/cgi/wiki?VimSucksEvenBetter): glorifying Vim.
    *   [Viper Sucks Even Better Than Vim (WikiWikiWeb)](http://c2.com/cgi/wiki?ViperSucksEvenBetterThanVim): very half-hearted and sarcastic glorifying of Viper, a vi emulation layer for Emacs.
    *   [Standard TECO Text Editor and Corrector for the VAX, PDP-11, PDP-10, and PDP-8](http://h20565.www2.hpe.com/hpsc/doc/public/display?docId=emr_na-c04623354): a manual for TECO, the predecessor of Emacs.
    *   [Video TECO User's Guide](http://www.copters.com/teco.html): a TECO manual presented here in HTML.
    *   [Text Editor and COrrector](http://almy.us/teco.htm): a page where you can download TECO.
    *   [Worlds Greatest Pathological Language: TECO (Good Math, Bad Math on ScienceBlogs)](http://scienceblogs.com/goodmath/2006/09/22/worlds-greatest-pathological-l-1/): an article treating TECO as a pathological programming language, albeit a very useful one. Contains a Brainfuck interpreter written in TECO (no kidding).
    *   [TECO's entry in the 1990 Jargon File](http://www.ibiblio.org/pub/academic/computer-science/history/pdp-11/teco/doc/tecolore.txt)
    *   [Punched tape](https://en.wikipedia.org/wiki/Punched_tape): an antiquated form of data storage that TECO was designed around.
    *   [A post to a mailing list about the Good Math, Bad Math article](https://plus.google.com/+IrreverentMonk/posts/7ytDvh9nCDs)
    *   [The Tower of Hanoi and a rendering of the Mandelbrot set as Vim macros](http://www.linusakesson.net/programming/vim/index.php): casts Vim in a TECO-esque light. A remarkable achievement by the author; I gasped when I ran the Mandelbrot file.
    *   [TTY](https://en.wikipedia.org/wiki/TTY): a teleprinter, text terminal, terminal emulator, etc. Terminal emulators are emulating the older technology of text terminals.
    *   [Teleprinter](https://en.wikipedia.org/wiki/Teleprinter): an electromechanical typewriter used to send and receive messages, adapted to provide an interface to computers.
    *   [Dag Hammerskjöld](https://en.wikipedia.org/wiki/Dag_Hammarskj%C3%B6ld): a Swedish diplomat and former secretary-general of the UN. A printed teleprinter portrait of him is displayed on the Teleprinter Wikipedia page.
    *   [Dynamic Debugging Technique](https://en.wikipedia.org/wiki/Dynamic_debugging_technique): a debugger originally developed for DEC computers like the PDP series. It was developed at MIT, along with TECO.
    *   [A DDT command list](http://web.mit.edu/afs/net/project/cgw/src/ddt.68/ddt.cmds)
    *   [The front page of Linus Åkesson's website, the author of the Vim macros above](http://www.linusakesson.net/index.php)
    *   [Faking Fissile Material (Linus Åkesson)](http://www.linusakesson.net/programming/underhanded/2015.php): the winning entry in the 2015 Underhanded C Contest, which was focused on subverting a nuclear armament treaty.

    From INTERCAL to interactive fiction to caves to prehistory. I really enjoyed this as a Wikipedia path—it covers all sorts of ground super-fast and I found it very interesting the whole time:  

    *   [INTERCAL](https://en.wikipedia.org/wiki/INTERCAL): The Compiler Language With No Pronounceable Acronym. A very endearing esoteric programming language from the early 70s.
    *   [Don Woods (programmer)](https://en.wikipedia.org/wiki/Don_Woods_(programmer)): an American programmer. One of the creators of iNTERCAL, as well as _Colossal Cave Adventure_.
    *   [Colossal Cave Adventure](https://en.wikipedia.org/wiki/Colossal_Cave_Adventure): one of the first text adventures, loosely based around the Mammoth Cave system in Kentucky.
    *   [Mammoth Cave National Park](https://en.wikipedia.org/wiki/Mammoth_Cave_National_Park): a park in Kentucky encompassing portions of Mammoth Cave, the longest known cave system in the world.
    *   [List of longest caves](https://en.wikipedia.org/wiki/List_of_longest_caves): the world's 10 longest caves, based on the latest verifiable data.
    *   [Sistema Sac Actun](https://en.wikipedia.org/wiki/Sistema_Sac_Actun): the longest underwater cave system in the world, located on the coast of the Yucatan. It is also the second-longest cave system in general.
    *   [Naia (skeleton)](https://en.wikipedia.org/wiki/Naia_(skeleton)): a 12,000~13,000-year-old teenage human skeleton found in an underwater chamber in the Sistema Sac Actun.
    *   [Eve of Naharon](https://en.wikipedia.org/wiki/Eve_of_Naharon): the oldest human skeleton found in the Americas, carbon dated to 13,600 years old. From another underwater cave in the same region.
    *   [Settlement of the Americas](https://en.wikipedia.org/wiki/Settlement_of_the_Americas): the first arrival of humans in the Americas, and the study thereof.

    Chemical computers—a short trip but wonderful:  

    *   [Molecular logic gate](https://en.wikipedia.org/wiki/Molecular_logic_gate): a molecule that performs a logical operation.
    *   [Chemical computer](https://en.wikipedia.org/wiki/Chemical_computer): a computer which captures data in varying concentrations of chemicals.
    *   [Belousov-Zhabotinsky reaction](https://en.wikipedia.org/wiki/Belousov%E2%80%93Zhabotinsky_reaction): a type of chemical reaction that produces a nonlinear chemical oscillator. Can be made to do logic processing. Visually beautiful:  

        <iframe src="https://www.youtube.com/embed/PnOy1fSxBdI" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>

    Super-weird language politics:  

    *   [Snowclone](https://en.wikipedia.org/wiki/Snowclone): meme-y "template clichés".
    *   [Word of the year](https://en.wikipedia.org/wiki/Word_of_the_year): the most important or pithy word in use in a certain year, as assessed by some body.
    *   [All of the Words of the Year, 1990 to Present (American Dialect Society)](http://www.americandialect.org/woty/all-of-the-words-of-the-year-1990-to-present#1991)
    *   [List of "banished" words and phrases](https://en.wikipedia.org/wiki/List_of_%22banished%22_words_and_phrases): a list of words published by various institutions that they would like to see removed from use.
    *   [Politics and the English Language](https://en.wikipedia.org/wiki/Politics_and_the_English_Language): an essay by George Orwell contending that contemporary English (as of the 1940s) has become dangerously vague and vapid, in a politically exploitable way.

    "Mad honey" to biochemistry:  

    *   [Grayanotoxin](https://en.wikipedia.org/wiki/Grayanotoxin): a group of toxins found in rhododendrons. Also found in honey made from their nectar.
    *   [Gurung people](https://en.wikipedia.org/wiki/Gurung_people): an ethnic group from Nepal. Tibetan-influenced Buddhism is prominent. Some Gurung use honey containing grayanotoxin for its medical and hallucinogenic properties.
    *   [Andromeda polifolia](https://en.wikipedia.org/wiki/Andromeda_polifolia): commonly called bog rosemary, it grows in bogs of the Northern Hemisphere. Honey made from its nectar has enough grayanotoxin to cause full-body paralysis and even death through diaphragm paralysis.
    *   [Category:diterpines](https://en.wikipedia.org/wiki/Category:Diterpenes): a list of diterpines. Grayanotoxin is a member of this category.
    *   [Km-233](https://en.wikipedia.org/wiki/KM-233): an analogue of Δ8-THC, and also a diterpine. Has been found effective in the treatment of a form of brain tumor in animal studies.
    *   [Tetrahydrocannabinol-C4](https://en.wikipedia.org/wiki/Tetrahydrocannabinol-C4): a homologue of THC, and another diterpine. Its action on the cannabinoid receptors is unknown at present.
    *   [Phorbol 12,13-dibutyrate](https://en.wikipedia.org/wiki/Phorbol_12,13-dibutyrate): a phorbol ester found in the purging croton, and another diterpine. Used as a chemical reagent, and as a constituent of croton oil it is used as a purgative..
    *   [Diterpine](https://en.wikipedia.org/wiki/Diterpene): a class of chemical compounds consisting of two terpene units. They form the basis for many biologically and pharamcologically important compounds.

    These are all links from the rather strange website [Is It Normal?](http://www.isitnormal.com/), where people describe some aspect of their lives and poll others as to whether it's normal or not. I found it through googling dog-related phrases:  

    *   [I miss my doggy.](http://isitnormal.com/story/i-miss-my-doggy-68021/): I teared up at this.
    *   [IIN my bird talks to me?](http://isitnormal.com/story/iin-my-bird-talks-to-me-237349/)
    *   [I feel normal when I take adderall am I ADHD?](http://isitnormal.com/story/i-feel-normal-when-i-take-adderall-am-i-adhd-230197/)
    *   [IIN that i love my cat even more than myself??](http://isitnormal.com/story/iin-that-i-love-my-cat-even-more-than-myself-237730/)
    *   [Is it normal to want to be someone else?](http://isitnormal.com/story/is-it-normal-to-want-to-be-someone-else-237682/)
    *   [IIN this song makes me sad?](http://isitnormal.com/story/iin-this-song-makes-me-sad-237578/)
    *   [Should I learn TRUMPET or BANJO?](http://isitnormal.com/poll/should-i-learn-trumpet-or-banjo-235255/)

    The bit about the talking bird spurred me to read about cockatoos:  

    *   [White cockatoo](https://en.wikipedia.org/wiki/White_cockatoo): a cockatoo with a striking head crest from the rainforests of Indonesia.
    *   <a href="">Rambutan</a>: a tree native to the Malay-Indonesian region, and the fruit it produces. Closely related to the lychee, longan, and mamoncillo. The fruit is eaten by white cockatoos.
    *   [Umbrella Cockatoo (Lafeber Pet Birds)](https://lafeber.com/pet-birds/species/umbrella-cockatoo/): a page about keeping a white cockatoo as a pet. Sounds very challenging.
    *   [10 Facts About Living With Parrots (Petcha.com)](http://www.birdchannel.com/bird-species/find-the-right-bird/facts-about-parrots.aspx): another article on the complexities of parrots as pets.

    Gamma ray bursts, supernovas, highly radioactive stars:  

    *   [Near-Earth supernova](https://en.wikipedia.org/wiki/Near-Earth_supernova): a supernova occurring close enough to Earth to affect life.
    *   [Gamma ray](https://en.wikipedia.org/wiki/Gamma_ray): a form of ionizing radiation that presents the main risk to life from a near-Earth supernova.
    *   [Ordovician–Silurian extinction events](https://en.wikipedia.org/wiki/Ordovician%E2%80%93Silurian_extinction_events): the second-largest of the Earth's five major extinction events. A gamma ray burst from a supernova has been proposed as a possible cause.
    *   [Gamma ray burst](https://en.wikipedia.org/wiki/Gamma-ray_burst): a rare cosmological event in which a huge exploding star releases a tremendous amount of radiation.
    *   [Supernova Early Warning System](https://en.wikipedia.org/wiki/Supernova_Early_Warning_System): a network of neutrino detectors to give astronomers advance notice of a supernova appearing in our galaxy or nearby galaxies, in order to facilitate research. It has not yet gone off.
    *   [Metallicity](https://en.wikipedia.org/wiki/Metallicity): how much of a star's mass is in elements other than hydrogen or helium. GRBs originate in giant stars of low metallicity, which were more common in the early universe. Our Milky Way, for instance, may have too high a metallicity to include such stars.
    *   [Galactic habitable zone](https://en.wikipedia.org/wiki/Galactic_habitable_zone): the region of a galaxy most likely to support life, based on models. Metallicity is a factor taken into account.
    *   [WR 104](https://en.wikipedia.org/wiki/WR_104): a triple star system relatively close to the Earth. The two main stars in the system are expected to go supernova, one of them at some time in the next 500,000 years.
    *   [Soft gamma repeater](https://en.wikipedia.org/wiki/Soft_gamma_repeater): an astronomical object that irregularly emits gamma ray and X-ray bursts.
    *   [Magnetar](https://en.wikipedia.org/wiki/Magnetar): a neutron star with a very strong magnetic field. The hypothesis that soft gamma repeaters are a type of magnetar has been widely accepted as likely.
    *   [Quake (natural phenomenon) #starquake](https://en.wikipedia.org/wiki/Quake_(natural_phenomenon)#Starquake): when the crust of a neutron star undergoes sudden adjustment. A 2003 paper suggests that starquakes are the cause of gamma ray bursts from soft gamma repeaters.
    *   [Magnetic field](https://en.wikipedia.org/wiki/Magnetic_field): I'm afraid of giving a short summary of this concept as my physics knowledge is rather weak and I found this article hard to follow. I hope to understand electromagnetism better in the future.

    Oulipo:  

    *   [Oulipo](https://en.wikipedia.org/wiki/Oulipo): a French literary movement of the mid-20th century focused on generating new literary forms, particularly with a technical and mathematical bent.
    *   [_Exercises in Style_](https://en.wikipedia.org/wiki/Exercises_in_Style): an Oulipan short story collection by Raymond Queneau in which the same story is told 99 times in a different style each time.
    *   [an excerpt from _Exercises in Style_, translated into English by Barbara Wright](http://www.almaclassics.com/excerpts/Exercises-in-Style-Excerpt.pdf): features a remarkable mechanically-oriented foreword by Umberto Eco that I feel inspired by as a model for literary analysis.

    One of my friends told me about CAConrad, a powerful contemporary poet who generates poetry through intense physical rituals that fill your attention while you perform them:  

    *   [your rapists were the last](http://lithub.com/your-rapists-were-the-last/)
    *   [MARFA Poetry Machine in 36 Things](http://somaticpoetryexercises.blogspot.com/search?updated-max=2016-06-02T05:13:00-04:00&max-results=499)
    *   [coping skills lost in the flood](https://www.poetryfoundation.org/poetrymagazine/poems/detail/56486)
    *   [Lonely Deep Affection](https://www.poetryfoundation.org/poetrymagazine/poems/detail/56487)
    *   [ECODEVIANCE: (Soma)tics for the Future Wilderness](http://www.wavepoetry.com/products/ecodeviance)
    *   [You Don't Have What It Takes to Be My Nemesis](http://www.diodepoetry.com/v7n1/content/caconrad.html)
    *   [POWER SISSY INTERVENTION #3: Powerball Vagina](http://somaticpoetryexercises.blogspot.com/2016/08/power-sissy-intervention-3-powerball_29.html)

    [Quilt Honoring People Killed By Chicago Police Is 40 Feet Long, And Growing (DNAinfo Chicago)](https://www.dnainfo.com/chicago/20161017/downtown/quilt-honoring-people-killed-by-chicago-police-is-40-feet-long-growing?utm_content=buffer131da&utm_medium=social&utm_source=twitter.com&utm_campaign=DNAinfoCHI)  

    [Direct detection of a single photon by humans](http://www.nature.com/articles/ncomms12172): a paper demonstrating that humans are capable of seeing a single photon of light.  

    I love to drink Taiwanese oolongs, particularly creamy, brothy green ones, at least when I can afford to. I thought I should expand my oolong horizons a bit, so I did some research on Chinese oolongs:  

    *   [Oolong](https://en.wikipedia.org/wiki/Oolong): a Chinese-style tea that is withered under strong sun and oxidized to various degrees, often of a rather fine quality.
    *   [Wuyi tea](https://en.wikipedia.org/wiki/Wuyi_tea): black and oolong teas produced in the Wuyi Mountains of China. Likely the first black and oolong teas in history.
    *   [Da Hong Pao](https://en.wikipedia.org/wiki/Da_Hong_Pao): a renowned and extremely expensive dark oolong produced in the Wuyi Mountains.
    *   [Shui Jin Gui tea](https://en.wikipedia.org/wiki/Shui_Jin_Gui_tea): a green Wuyi Oolong that produces a bright green color when steeped.
    *   [Tielohuan tea](https://en.wikipedia.org/wiki/Tieluohan_tea): a light Wuyi Oolong with gentle floral notes.
    *   [Bai Jiguan tea](https://en.wikipedia.org/wiki/Bai_Jiguan_tea): a very light Wuyi Oolong with yellowish leaves.
    *   [Rougui tea](https://en.wikipedia.org/wiki/Rougui_tea): a Wuyi oolong with a distinctive sweet aroma.
    *   [Shui Hsien tea](https://en.wikipedia.org/wiki/Shui_Hsien_tea): a very dark Wuyi oolong that smells like honey.
    *   [Tiegyuanyin](https://en.wikipedia.org/wiki/Tieguanyin): a Fujian oolong from Anxi County; prepared in a number of ways, but the best-liked variety is an early spring tea with very light oxidation and a fruity, even berry-like aroma.
    *   [Huangjin Gui](https://en.wikipedia.org/wiki/Huangjin_Gui): another Anxi oolong, similar in character to Tiegyuanyin, renowned for its osmanthus-esque fragrance.

    Do you remember back in 2011–2012 when the HBGary and Stratfor hacks happened? Do you remember the bizarre and nefarious plot to smear and blackmail progressives and investigative journalists that was uncovered in their wake? The incident seems to have faded from the collective memory. Perhaps it's unsurprising, because two of the central people involved in bringing the story to light, Barrett Brown (journalist) and Jeremy Hammond (hacktivist), are still in prison, and nothing particularly bad has happened to the conspirators. I was glad to see this recent article by Brown get passed around on Twitter, since I don't think this is a story we should forget so easily, especially since things like this are doubtless going on all over the world every day. That, and Brown is clearly a political prisoner, jailed for years just for linking to leaked documents—his ongoing imprisonment casts the U.S. in a light similar to China or Russia, although perhaps that's a less surprising aspect. A fucked-up story of cyberintrigue:  

    *   [I Am Fully Capable of Entertaining Myself in Prison for Decades If Need Be (Barrett Brown, The Intercept)](https://theintercept.com/2016/10/16/i-am-fully-capable-of-entertaining-myself-in-prison-for-decades-if-need-be/): a darkly humorous article by Brown describing his experiences playing DnD in prison and the Team Themis high-tech smearing and blackmail scandal he reported on a few years ago that led to his being imprisoned.
    *   [Project PM](http://wiki.project-pm.org/wiki/Main_Page): a journalistic wiki managed by Brown before his arrest, focusing on the intelligence contracting industry. Created to crowdsource sifting through the huge number of emails that came out of the HBGary and Stratfor hacks.
    *   [Cyber Weapons: The New Arms Race (Bloomberg Business Week)](http://www.bloomberg.com/news/articles/2011-07-20/cyber-weapons-the-new-arms-race): an article on the intelligence contracting industry, including information provided by Brown on a company called Endgame. There are signs that Endgame, a vendor of 0-day exploits to the U.S. government, was or is also offering its capabilities to unknown customers outside of the U.S. government.
    *   [The Strange Case of Barrett Brown (The Nation)](https://www.thenation.com/article/strange-case-barrett-brown/): a detailed chronicle of the story, covering both the HBGary and Stratfor email leaks and the events leading up to Brown's arrest. The stuff about the Air Force running sockpuppets and the Department of Justice referring the Bank of America and Chamber of Commerce to a shady, potentially criminal, but prominent DC lobbyist for smear campaigns are both pretty wild.
    *   [More facts emerge about the leaked smear campaigns (Glenn Greenwald, Salon)](http://www.salon.com/2011/02/15/palantir/): an article by Greenwald written in the midst of the scandal describing tech company Palantir, who was involved in the proposal to Bank of America and the Chamber of Commerce, plotting to blackmail him as part of the proceedings.
    *   [Killer App (Washingtonian)](https://www.washingtonian.com/2012/01/31/killer-app/): a detailed article on Palantir, describing their close connections with police departments and the federal government, as well as their role in Team Themis. Notes that Matthew Steckman, who Palantir claimed was acting independently and dismissed when this story broke, was later rehired.
    *   [Matthew Steckman (LinkedIn)](https://www.linkedin.com/in/matthew-steckman-4a23a8b0): according to his LinkedIn, Steckman is currently the Head of Business Operations at Palantir.
    *   [Key Players In Operation Ratf%!k (Shadowproof)](https://shadowproof.com/key-players-in-operation-ratfk/): bios and an interactive relationship map of the key organizations and individuals involved in the scandal.
    *   [Team Themis (ProjectPM)](http://wiki.project-pm.org/wiki/Team_Themis): pithily highlights some leaked documents and emails pertaining to Team Themis detailing their plans.

    [Natural Language Processing With Python](http://www.nltk.org/book/): a really cool book! I've been working through it on and off, with an eye towards using the techniques described in my literary work. It's very accessible, and has the added benefit of very entertaining examples.  

    Languages of northern Canada and southern Nigeria:  

    *   [Iniktitut](https://en.wikipedia.org/wiki/Inuktitut): one of the principal Inuit languages of Canada, spoken throughout the far north of the country.
    *   [Agglutanitive language](https://en.wikipedia.org/wiki/Agglutinative_language): a language in which words are "built up" by combining static morphemes that add meaning. Iniktitut is such a language.
    *   [Polysynthetic language](https://en.wikipedia.org/wiki/Polysynthetic_language): a language in which words are composed of many morphemes, and can express what would take several words in an analytic language like English. Iniktitut is such a language.
    *   [Ibibio-Efik languages](https://en.wikipedia.org/wiki/Ibibio-Efik_languages): the major dialect cluster of the Cross River languages of Nigeria. Efik proper has national language status in Nigeria and is the literary standard of the Efik languages, although Ibibio is more widely spoken.
    *   [Ibibio language](https://en.wikipedia.org/wiki/Ibibio_language): the native language of the Ibibio people. It's also used as a trade language and has a large number of second-language speakers.
    *   [Akwa Ibom State](https://en.wikipedia.org/wiki/Akwa_Ibom_State): one of the states in Nigeria where Ibibio-Efik languages are spoken.
    *   [Efik language](https://en.wikipedia.org/wiki/Efik_language): the native language of the Efik people and the official language of Cross River State in Nigeria. It is mutually intelligible with Ibibio.

    Passive vs. active trading:  

    *   [Index fund](https://en.wikipedia.org/wiki/Index_fund): an investment fund that invests based on preset rules.
    *   [The Dying Business of Picking Stocks (Wall Street Journal)](http://www.wsj.com/articles/the-dying-business-of-picking-stocks-1476714749): an article describing the growing popularity of index funds compared to "actively traded" funds where stocks are picked by hand.
    *   [_A Random Walk Down Wall Street_](https://en.wikipedia.org/wiki/A_Random_Walk_Down_Wall_Street): a 1973 book by Princeton economist Burton Malkiel arguing that asset prices perform a random walk and so consistently "beating the market" is impossible.
    *   [Efficient-market hypothesis](https://en.wikipedia.org/wiki/Efficient-market_hypothesis): argues that asset prices accurately reflect available information, so it's difficult or impossible to find over- or under-priced assets. Various shades of strength of the hypothesis exist—"weak" variants argue that asset prices merely reflect publicly available past information, while "strong" variants argue that they instantly change to reflect new public information, or even that they additionally reflect private information.
    *   ["The Superinvestors of Graham and Doddsville"](https://en.wikipedia.org/wiki/The_Superinvestors_of_Graham-and-Doddsville): a 1984 article by Warren Buffet arguing against the efficient-market hypothesis; contends that underpriced securities can be found reliably through analysis of a business's financial statements. Little-cited in academia though popular with some investors.

    Spotted fever:  

    *   [Spotted fever](https://en.wikipedia.org/wiki/Spotted_fever): a type of tick-borne disease that produces a skin rash.
    *   [Boutonneuse fever](https://en.wikipedia.org/wiki/Boutonneuse_fever): a type of spotted fever endemic in the Mediterranean.
    *   [Great Plague of London](https://en.wikipedia.org/wiki/Great_Plague_of_London): the last major episode of bubonic plague to strike England, in 1665\. Spotted fever was thought to be a herald of bubonic plague in the 17th and 18th centuries

    I use a moisturizer called CeraVe; it was recommended to me by a dermatologist a few years ago after I got eczema on a third of my body. It works very well as an eczema preventative. I got curious about it randomly and tried looking it up on Wikipedia, which redirects to the drug company that produces it:  

    *   [Valeant Pharmaceuticals](https://en.wikipedia.org/wiki/Valeant_Pharmaceuticals#2016): a drug company based in Quebec. They were embroiled in controversy earlier this year over drug price hikes and their use of a specialty pharmacy.
    *   [Specialty pharmacy](https://en.wikipedia.org/wiki/Specialty_pharmacy): a pharmacy handling high-cost drugs and/or drugs that require complex distribution and handling.
    *   [Interferon beta-1a](https://en.wikipedia.org/wiki/Interferon_beta-1a): a cytokine used to treat multiple sclerosis. It requires a refrigerated chain of distrubution and carries a very high price.

    I've never seen _National Treasure_, and I got in this mood where I was like "What's the deal with that movie anyway??". Then I wandered into reading about the National Archives and film criticism:  

    *   [National Treasure (film)](https://en.wikipedia.org/wiki/National_Treasure_(film)): a 2004 heist film starring Nicolas Cage. Involves a theft of the Declaration of Independence from the National Archives.
    *   [National Archives and Records Administration](https://en.wikipedia.org/wiki/National_Archives_and_Records_Administration): the agency of the U.S. government charged with preserving government and historical records.
    *   [David Bordwell](https://en.wikipedia.org/wiki/National_Treasure_(film)): a film theorist who likes _National Treasure_. He is associated with an approach to film analysis called "neoformalism", which focuses on looking at a film "in itself" as opposed to interpreting it.
    *   [Archivist of the United States](https://en.wikipedia.org/wiki/Archivist_of_the_United_States): the chief administrator of the NARA.
    *   [David Ferriero](https://en.wikipedia.org/wiki/David_Ferriero): the current Archivist. He is the first librarian to serve as such.

    Kōdō Sawaki, a 20th century Zen teacher, wrote a book called [_To You_](http://antaiji.org/en/services/%E3%80%8C%E4%BB%96%E4%BA%BA%E3%81%AE%E7%9B%AE%E3%81%8C%E3%81%99%E3%81%94%E3%81%8F%E6%B0%97%E3%81%AB%E3%81%AA%E3%82%8B%E3%81%82%E3%81%AA%E3%81%9F%E3%81%B8%E3%80%8D-%E6%BE%A4%E6%9C%A8%E8%88%88%E9%81%93/) that I've read excerpts from regularly for the last few years. It's maybe the main text powering my preoccupation with Zen Buddhism (just at a distance so far). I had the urge to look him up on Wikipedia, which I do every so often:  

    *   [Kōdō Sawaki](https://en.wikipedia.org/wiki/K%C5%8Dd%C5%8D_Sawaki): a Sōtō Zen teacher of the 20th century.
    *   [Kasaya (clothing)](https://en.wikipedia.org/wiki/Kasaya_(clothing)): the robes of Buddhist monks and nuns. Sawaki wrote a book on sewing them.
    *   [Studying the kesa](http://zen-road.org/index.php?option=com_content&view=article&id=28&Itemid=30&lang=en): an interview with Françoise Laurent, a Zen nun, about the kesa. She mentions making use of Sawaki's book.
    *   [Shikatanza](https://en.wikipedia.org/wiki/K%C5%8Dd%C5%8D_Sawaki): "just sitting". Sawaki puts great emphasis on this practice.
    *   [The art of just sitting : essential writings on the Zen practice of Shikantaza (WorldCat)](http://www.worldcat.org/title/art-of-just-sitting-essential-writings-on-the-zen-practice-of-shikantaza/oclc/49773732?referer=one_hit): the WorldCat page for a compilation of writings on shikatanza.
    *   [To You (Kōdō Sawaki Rōshi, Trans. Jesse Haasch and Muhō, Antaiji)](http://antaiji.org/en/services/%E3%80%8C%E4%BB%96%E4%BA%BA%E3%81%AE%E7%9B%AE%E3%81%8C%E3%81%99%E3%81%94%E3%81%8F%E6%B0%97%E3%81%AB%E3%81%AA%E3%82%8B%E3%81%82%E3%81%AA%E3%81%9F%E3%81%B8%E3%80%8D-%E6%BE%A4%E6%9C%A8%E8%88%88%E9%81%93/): excerpts from a book by Sawaki, translated into English.

    My bizarre preoccupation with old mechanical keyboards this month led me here. This computer, the IBM PC, shipped with the revered [Model F keyboard](https://deskthority.net/wiki/IBM_Model_F):  

    *   [IBM Personal Computer](https://en.wikipedia.org/wiki/IBM_Personal_Computer): IBM's PC, first released in 1981.
    *   [IBM PC-DOS](https://en.wikipedia.org/wiki/IBM_PC_DOS#1.00): the operating system for the IBM PC, initially developed by Microsoft.
    *   [MS-DOS](https://en.wikipedia.org/wiki/MS-DOS): an operating system developed by Microsoft, originally for IBM.
    *   [Can You Do Real Work With the 30-Year-Old IBM 5150? (PCWorld)](http://www.pcworld.com/article/237878/can_you_do_real_work_with_the_30_year_old_ibm_5150_.html): an article in which someone tries to use an IBM PC for modern everyday computing tasks, rather creatively.

    A couple wonderful spider pages:  

    *   [Hunstman spider](https://en.wikipedia.org/wiki/Huntsman_spider): spiders in the family Sparassidae. Known for hunting and foraging for food as opposed to building webs, and for their large size.
    *   [Golden silk orb-weaver](https://en.wikipedia.org/wiki/Golden_silk_orb-weaver): a genus of spiders known for their beautiful golden webs.

    Malware—first old Windows stuff, then Linux:  

    *   [Computer virus](https://en.wikipedia.org/wiki/Computer_virus): a computer program that replicates and spreads itself when run.
    *   [Blaster (computer worm)](https://en.wikipedia.org/wiki/Blaster_(computer_worm)): a worm targeting Windows XP and 2000 from 2003.
    *   [Anti-worm](https://en.wikipedia.org/wiki/Anti-worm): a computer program that spreads in a similar manner to a conventional worm, but is designed to correct security flaws instead of maliciously exploit them.
    *   [Welchia](https://en.wikipedia.org/wiki/Welchia): an anti-worm targeting Blaster.
    *   [W32.Welchia.Worm (Symantec)](https://www.symantec.com/security_response/writeup.jsp?docid=2003-081815-2308-99): Symantec's entry on Welchia, documenting the vulnerabilities it exploits and the actions it takes.
    *   [Linux malware](https://en.wikipedia.org/wiki/Linux_malware): malware targeting Linux. Uncommon in comparison to malware targeting Windows; the reasons for this are debated. What malware has been found to be widespread in the wild has generally targeted IoT devices or smartphones.
    *   [Isn't Microsoft Corporation's market dominance, making Linux an insignificant target, the only reason it doesn't have a virus problem? (Rick's Rants)](http://linuxmafia.com/~rick/faq/#virus4): a short essay arguing that the lack of malware for Linux is due to common Linux security practices like using the root account judiciously and only running trusted software.
    *   [Acute disappointment (Rick Moen)](http://archive.oreilly.com/cs/user/view/cs_msg/46829): an email to O'Reilly by the above author in 2004, analyzing a phishing attack against Red Hat users. Disputes the idea that the attack presents a significant threat on the basis that being affected by the attack would require gross incompetence.
    *   [Meet Remaiten – a Linux bot on steroids targeting routers and potentially other IoT devices (We Live Security)](http://www.welivesecurity.com/2016/03/30/meet-remaiten-a-linux-bot-on-steroids-targeting-routers-and-potentially-other-iot-devices/): an article from earlier this year describing a piece of malware found in the wild that's designed to create a botnet from Linux IoT devices.

    I don't quite remember how I got to this essay by neuroscientist Yohan John, but it was _tremendously_ rewarding. Not only was it a wonderful read, but the ["More is Different"](http://robotics.cs.tamu.edu/dshell/cs689/papers/anderson72more_is_different.pdf) essay it linked to is one of my favorite articles of all time now, up there with Anna Wierzbicka's ["There Are No 'Color Universals' but There Are Universals of Visual Semantics"](https://www.jstor.org/stable/25132327?seq=1#page_scan_tab_contents) and J.D. Kramer's "Linearity, Nonlinearity and Moment Time in Stravinsky's _Symphonies of Wind Instruments_" from his book [The Time of Music](https://books.google.com/books/about/The_time_of_music.html?id=TYDuAAAAMAAJ). This cluster of articles starts with neuroscience but reaches for the heavens:  

    *   [The Chemical Self and the Social Self (Yohan J. John, 3 Quarks Daily)](http://www.3quarksdaily.com/3quarksdaily/2014/06/the-chemical-self-and-the-social-self.html): a beautiful essay by computational neuroscientist Yohan John, dissecting the popular concept that neurotransmitters create experience. Compares the idea to medieval humors, discusses the intense complexity of neurotransmitters, discusses the concept as "reductionist" as opposed to "holistic", and ultimately connects it to right-wing politics. Ends by delicately painting the complexity of a short moment in a person's experience.
    *   [Dopamine and Reward: The Anhedonia Hypothesis 30 years on (Roy A. Wise)](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3155128/): a journal article by the originator of the anhedonia hypothesis, which states that dopamine is essential to the feeling of pleasure that comes from a reward. The author concludes that dopamine is important in motivation and reinforcement, but not in the production of subjective pleasure, since both rewarding and stressful situations can cause elevated dopamine levels.
    *   ["Rat Park" (Stuart McMillen)](http://www.stuartmcmillen.com/comics_en/rat-park/): an artful comic discussing the Rat Park experiment, which casts doubt on the image of drug addicts as "hopelessly" addicted. Shows that rats' propensity for addiction to morphine depends dramatically on their environment.
    *   [Rat Park drug experiment cartoon (comment thread, Hacker News)](https://news.ycombinator.com/item?id=7743089): a short comment thread discussing the limitations of the Rat Park experiment. Researchers have had trouble replicating the results, perhaps due to differences in genetics between the rats used in Rat Park and later studies, with might indicate that genetics plays a larger role in addiction susceptibility than environment. However, other studies on addiction in rats and mice have achieved supporting results.
    *   [More is Different (P.W. Anderson, Science)](http://robotics.cs.tamu.edu/dshell/cs689/papers/anderson72more_is_different.pdf): a 1972 essay by Nobel Laureate solid-state physicist Philip Anderson, discussing how new and unpredictable effects emerge as you ascend in complexity away from fundamental laws. This is in opposition to the idea that, for instance, "biology is just applied chemistry". The essay takes a dizzying flight through a "hierarchy of broken symmetries" to demonstrate this, starting with the two-state nature of the ammonia molecule and ending with a brief mention of how quantitative differences in wealth lead to qualitative differences in society. Gives a vivid sense of the vastness of uncharted territory in understanding biology and especially behavior. I was left in awe.
    *   [A Different Universe: Reinventing Physics from the Bottom Down (excerpt) (Robert B. Laughlin)](http://www.physicscentral.com/explore/writers/laughlin.cfm): a rather elegant excerpt from a 2005 book by another Nobel Laureate, Robert B. Laughlin. Argues that fundamental laws emerge out of complex collective behavior, as opposed to the other way around.
    *   [Do mirror neurons explain understanding, or is it the other way round? (Yohan John)](https://neurologism.com/2013/03/13/do-mirror-neurons-explain-understanding-or-is-it-the-other-way-round/): another article by John, this time on the misconception that motor neurons explain or produce empathy. Neurons have been found in the premotor cortex of rhesus macaques (not humans, notably) that fire when a macaque is performing an action themselves, or when they perceive another individual performing the same action. John argues that the existence of those sorts of brain structures is unsurprising, since understanding actions in the abstract in some sense is obviously something macaques (and humans) can do. However, he contends that phenomena like empathy must take place across a whole organism, so distinct clusters of neurons can only be pieces of a larger pattern.

    I think I got into all of this after that [Mother Jones undercover-in-a-militia article](http://www.motherjones.com/politics/2016/10/undercover-border-militia-immigration-bauer). A strange and terrifying walk through white supremacy, American separatism, and terrorism:  

    *   [Randy Weaver](https://en.wikipedia.org/wiki/Randy_Weaver): An American fundamentalist Christian and white supremacist. He was arrested by the ATF on charges of selling a sawed-off shotgun, but failed to later appear in court, ultimately resulting in an armed standoff with the government in 1992 in which a U.S. Marshal and Weaver's son and unarmed wife were killed.
    *   [Montana Freemen](https://en.wikipedia.org/wiki/Montana_Freemen): A Christian Patriot movement from Montana that declared themselves outside of U.S. jurisdiction, issued false liens against public officials, and printed counterfeit checks and money orders. Foreclosure proceedings against their farm resulted in an 81-day armed standoff with the FBI in 1996, which ultimately ended without bloodshed. Weaver offered to help the FBI end the standoff but they declined.
    *   [False lien](https://en.wikipedia.org/wiki/False_lien): fraudulent liens filed as a tool of harassment, often against government officials. Popular among far-right "militia"-type groups.
    *   [Posse Comitatus (organization)](https://en.wikipedia.org/wiki/Posse_Comitatus_(organization)): A far-right Christian white supremacist movement in the U.S., originating in the 1960s but still active today. They pioneered the use of false liens as a harassment tactic.
    *   [Lien](https://en.wikipedia.org/wiki/Lien#United_States): a legal mechanism to secure payment of debt or performance of some other obligation by granting one party the ability to hold property or money of the other. For example, the right of auto mechanics to hold a repaired car until the repairs have been paid for, or the right of an attorney to a portion of a judgement they won for their client..
    *   [Paper terrorism](https://en.wikipedia.org/wiki/Paper_terrorism): the use of an array of fraudulent or frivolous legal filings, such as false liens or frivolous lawsuits, for the sake of harassment.
    *   [Republic of Texas (group)](https://en.wikipedia.org/wiki/Republic_of_Texas_(group)): a movement around the idea that Texas was illegally annexed and is still an independent nation. Adherents of the movement have used "paper terrorist" tactics to harass elected officials of nearby states they feel are "trespassing" into Texas.
    *   [Timothy McVeigh](https://en.wikipedia.org/wiki/Timothy_McVeigh): an American domestic terrorist who bombed a government building in 1995, killing 168 people and injuring over 600\. He stated the attack was in revenge for the government's handling of the Waco siege and the Ruby Ridge incident, and that he hoped to inspire a revolt against the government. He later wrote an essay from prison comparing the government's military actions abroad to his own.
    *   [Oklahoma City](https://en.wikipedia.org/wiki/Oklahoma_City): the capitol and largest city of Oklahoma. The building McVeigh bombed was located here.
    *   [Louis Brandeis](https://en.wikipedia.org/wiki/Louis_Brandeis): an American lawyer and Supreme Court justice of the early-to-mid 20th century. He helped to develop the concept of the "right to privacy", fought against monopoly and corruption, and defended free speech. He was also a Zionist. McVeigh cited him briefly in his statement in court before his sentencing.
    *   [Ramzi Yousef](https://en.wikipedia.org/wiki/Ramzi_Yousef): a Kuwaiti-Pakistani Islamist terrorist who played a major role in the 1993 World Trade Center bombing that killed 6 and injured 1,042\. He stated that the attack was in retaliation for U.S. support of Israel and involvement in Middle Eastern politics. He was housed on the same cell block as McVeigh, and apparently did his best to convert McVeigh to Islam.
    *   [Invictus](https://en.wikipedia.org/wiki/Ramzi_Yousef): an 1892 Victorian English poem by William Henley; its title means "unconquered" in Latin. Expresses stoic individualism in the face of adversity. McVeigh chose it as his final statement before his execution.

    Samhain happened at the end of the month. I saw some people posting about it and wasn't quite sure what it was:  

    *   [Samhain](https://en.wikipedia.org/wiki/Samhain): a Gaelic festival occurring on October 31st, marking the end of the harvest season. It has been commemorated since ancient times. Contemporary Celtic neopagans and Wiccans observe it as a religious holiday.
    *   [Celtic neopaganism](https://en.wikipedia.org/wiki/Celtic_neopaganism): Contemporary Pagan or polytheistic movements based on Iron Age Celtic polytheism.
    *   [Celtic Reconstructionist Paganism](https://en.wikipedia.org/wiki/Celtic_Reconstructionist_Paganism): a polytheistic Celtic neopaganist religion emphasizing judiciously reconstructing the practices of ancient Celts, in contrast to eclectic neopagan movements.
    *   [Neo-Druidism](https://en.wikipedia.org/wiki/Neo-Druidism): a group of religious movements and philosophical practices inspired by ancient druids, beginning in 18th century Britain. Many Neo-druids take an eclectic approach to their practice, looking to embrace the spirit of pre-Roman British religious practice as opposed to prioritizing historical authenticity.
    *   [William Price (physician)](https://en.wikipedia.org/wiki/William_Price_(physician)): a 19th-century Welsh physician and prominent figure in modern Druidry. He was also an activist, supporting Welsh nationalism, universal suffrage for men (as opposed to only for the wealthy), the abolition of marriage, vegetarianism, and cremation.

    [Kyo's Birthday (Drifter2, Fanfiction.net)](https://www.fanfiction.net/s/1367113/5/Kyo-s-Birthda): a surreally written but really endearing Fruits Basket fanfic describing a dance and surrounding events. Contains lots of odd-sounding passages like, "Eggs were placed in the five girls' necks," or, "Everyone was suddenly enclosed in a plastic suit". One of the characters threatens to squash a cat out of jealousy. 0_0 I don't know much about Fruits Basket so the intricacies were maybe lost on me, but I found it entertaining anyway. The person writing the sequel had the handle "Drifter-chan" which conjured up amazing images in my mind of [Blingee](https://www.google.com/search?site=&tbm=isch&source=hp&biw=1440&bih=797&q=blingee&oq=blingee&gs_l=img.3..0l10.740.1211.0.1290.7.5.0.0.0.0.94.376.5.5.0....0...1ac.1.64.img..2.5.374.rt_2KZdZinU)'d-out rail-riders.  
    <a name="dreams"></a>  

    ## Dreams

    ### 10/20/16

    I was living in a town, probably somewhere in the Southwest, with a number of friends. We lived in a house that reminded me of J. and J.'s house when I was a kid—light-colored wood floors, white walls with minimal but playful decorations—a bit of a "playhouse" vibe. There were I think four of us living there; all dream characters except for me (I think :p ).  

    In my room, I was raising a number of different animals in a pond set into the floor. There were tadpoles, fish, and a few tiny dinosaurs. One of the kinds of dinos had little pink wings and looked sort of like a velociraptor but more explicitly cute; another was like a tiny t-rex. Much of the dream involved me reading about raising my pond creatures in books, feeding them, cleaning the pond, playing with the ones that were more full grown, showing them to my housemates, etc.  

    One memorable moment was when a one of the t-rexes, maybe the size of a litle dog, played with me as a bear cub might, gnawing on my hands in a mock-fighting gesture. I could feel the intense razor-sharpness of the tiny dino's claws and teeth, but wasn't injured.  

    At one point, I went off to a restaurant with my housemates. It was a huge Tex-Mex restaurant with mostly outdoor seating, in a pretty stone courtyard with lots of trees. I ordered something kind of like shrimp enchiladas crossed with a calzone; instead of tortillas, it was a huge hollow bread pocket deep-fried and filled with shrimp and cheese and avocado and other vegetables. The sides were the regular sort—a little salad with sour cream, borracho beans, rice.  

    After I ordered, I wandered off away from our table back into the front area of the restaurant, which was indoors, where people waited for tables. Out of curiosity, I started fishing around in some drawers away from where the employees were getting people seated. I found a huge cookbook in one of them, maybe the size of a small phonebook, with instructions for making a wide variety of strange and decadent dishes. Lots of deep-fried bread pockets like I had ordered, huge stews to be served as the centerpiece of a banquet meal, elaborate desserts with nets of spun sugar around ice cream and sopapillas…  

    Earlier in the day, I had put a lot of tadpoles in a small mason jar temporarily to clean out their corner of the pond, and then forgotten about them. When we came back from the restaurant, they had all dried out in the jar. I was convinced they were all dead, but one of my housemates encouraged me to try just putting them back in the pond to rehydrate them, and when I did this they all came back to life.  

    ### 10/21/16

    Earlier in the dream I was living in Texas, but I don't recall this part very well. It had something to do with a large field of dead grass, and maybe a big research building—bit of a [J. J. Pickle Research Campus atmosphere](https://integrativebio.utexas.edu/images/IB/Buildings.jpg).  

    Eventually I moved to the Bay Area. Whether this was a temporary or permanent move I don't quite remember. I was living in a small apartment, in a huge, hotel-esque building, with two other people.  

    The main part of the dream I recall well was when I was at a big public pool with a few friends. The pool was right next to the ocean, and fed with seawater, but the water was maintained at a pleasant, nicely warm temperature, and was clean, which I guess was the appeal of swimming in the pool as opposed to the sea (rather strange in retrospect). It had waves, like the actual ocean.  

    At one point, some people came over and asked if they could film me and the small group of people I was nearby to for a commercial (I guess for the pool itself?). They offered to ship each of us a package of fancy snack foods as compensation. We all agreed, and signed contracts in the pool. They set up a moving platform over our corner of the pool to film from, and got shots of us jumping into the pool off of things and diving into large waves and such.  

    Afterwards, one of the people that in was in the group, whom I didn't know, started talking to me. He was a man, slightly grizzled, maybe in his mid-30s or early 40s. He started telling me about his cats and rabbit, specifically differences in their behavior. A couple of my friends came over and joined in the conversation.  

    According to him, the cats were "twice as sharp" as the rabbit, able to understand complex sentences and solve intricate puzzles, whereas the rabbit took much longer to solve puzzles and couldn't figure out much of what the cats could. The difference between them was like the difference between "Sunday and Monday," he said.  

    At some point, the dream transitioned into me looking at his website, where he discussed his pets in detail. The website had an old-fashioned jukebox aesthetic, and contained lots of quaint and kitschy references and graphics about alcohol. The main focus of the site was pets, though—mainly his cats, to which he attributed remarkable analytic feats. I was actually somewhat incredulous about the acumen of his cats, but he claimed to have been featured on a number of television news programs, so I felt it was difficult to determine the veracity of his claims from his website alone.  

    ### 10/28/16

    I had a very long dream that was heavily focused on Z., but unfortunately I barely remember it. I know that we were living in a large, labyrinthine suburban-style house with numerous kitchens, and that the dream went on at such lengths that days passed and I went to sleep and woke up again numerous times over the course of the dream. Other than us cooking together, I don't remember much of what happened.  

    Shortly before I woke up, I experienced a series of strange vignettes. I was given the opportunity (because of my artistic/celebrity status in the dream or something? not because I was a scientist) to go on one of the [NOAA hurricane flights](https://youtu.be/5hG6IX0gOmA). We flew through a hurricane, and then as we were returning we ended up flying low over Brooklyn, specifically over a river with many bridges crisscrossing over it.  

    The dream shifted to being a sort of kung fu movie where multiple people were racing planes over the river through Brooklyn. The plane I had "been in" won the race. There was a scene afterwards where the people who were in the winning plane consoled the people who got in second place. It had a cinematic atmosphere.  

    ### 10/29/16

    If I recall, much of this dream took place in the company of K. and L. I remember that we spent a long time in a very tall, dark, sort of industrial building, but one that was crowded with people. It had a special purpose—maybe educational?—but I don't really recall.  

    I do remember that there were a number of old, maybe not-in-use nuclear reactors scattered throughout the building, sealed under the floor in casks. This became a minor plot point but I'm not sure what it was.  

    I also remember writing L. a long note, maybe more like a small letter, explaining something to them. I was worried about my handwriting, which I was having a particularly hard time making legible.
